.coop-sidebar.always-visible {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: auto;
  background-color: #f7f8fa; /* Customize background */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.coop-sidebar-content {
  padding: 1rem;

}

.coop-sidebar-logo {
  width: 70px; /* Adjust as needed */
  height: 70px;
  display: block;
  margin: 0 auto 1rem;
}

.coop-sidebar-text {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.coop-sidebar-menu {
  list-style: none;
  padding: 0;
}

.coop-sidebar-link {
  display: flex;
  align-items: center;
  padding: 0.65rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #070707;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.coop-sidebar-link:hover {
  background-color: #fafa90; /* Light yellow hover */
  color: #ffcc00;
}

.coop-sidebar-link.active {
  background-color: #fafa90; /* Yellow background */
  color: #000; /* Black text */
  font-weight: bold;
}


.coop-sidebar-icon {
  margin-right: 1rem;
}

