.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .search-btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .search-btn:hover {
    background-color: #0056b3;
  }

  .mdb-pagination .page-item.active .page-link {
    background-color: yellow !important;  /* Sets the background of the active page to yellow */
    border-color: yellow !important;      /* Optional: change the border color as well */
    color: black !important;              /* Optional: change the text color to black */
  }