.sidebar-header {
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #ffffff; /* Header background */
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-nav {
  flex-grow: 1;
  padding: 1rem 0;
}

.sidebar-item {
  list-style: none;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #333333;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-link:hover {
  background-color: #FAFAFA; /* Light yellow hover background */
  color: #ffcc00; /* Yellow text on hover */
}

.sidebar-icon {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
}

.sidebar-text {
  flex-grow: 1;
  text-align: left;
  font-weight: bold;
}

.sidebar-footer {
  padding: 1.5rem;
  background-color: #ffffff;
}

.sidebar-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0.75rem 1.5rem;
  background-color: #ffcc00; /* Yellow button background */
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-button:hover {
  background-color: #e6b800; /* Darker yellow on hover */
}

.sidebar-button .sidebar-icon {
  width: 1.25rem;
  height: 1.25rem;
}
