.usercoop-forumlist-container {
    display: flex;
    margin-left: 250px;
  }
  
  .usercoop-forumlist-content {
    flex-grow: 1;
    padding: 20px;
    background: #fff;
  }
  
  .usercoop-forumlist-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .usercoop-forumlist-create-btn {
    background-color: #ffcc00;
    color: black;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .usercoop-forumlist-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .usercoop-forumlist-tab {
    background: none;
    border: 2px solid #ffcc00;
    padding: 8px 15px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .usercoop-forumlist-tab.active {
    background: #ffcc00;
    color: black;
  }
  
  .usercoop-forumlist-posts {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .usercoop-forumlist-post {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    border-left: 5px solid #ffcc00;
  }
  
  .usercoop-forumlist-content {
    text-align: center;
  }
  
  .usercoop-image-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .usercoop-forumlist-image {
    max-width: 200px;
    border-radius: 5px;
  }
  
  .usercoop-forumlist-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .usercoop-forumlist-crud-actions {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
  }
  
  .usercoop-forumlist-edit-btn,
  .usercoop-forumlist-delete-btn,
  .usercoop-forumlist-restore-btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .usercoop-forumlist-edit-btn {
    background-color: #ffcc00;
  }
  
  .usercoop-forumlist-delete-btn {
    background-color: rgb(251, 10, 10);
    color: white;
  }
  
  .usercoop-forumlist-restore-btn {
    background-color: green;
    color: white;
  }  

  .usercoop-forumlist-comments {
    margin-top: 15px;
    padding: 15px;
    background: #f9f9f9;
    border-radius: 10px;
  }
  
  .forumlist-coop-comment-item {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
  
  .forumlist-coop-comment-content {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .comment-date {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
  }
  
  .comment-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .like-icon {
    color: red;
    margin-right: 5px;
  }
  