.forgot-password-email-container {
    background-color: #fff7db;
    font-family: Arial, sans-serif;
    justify-items: center;
  }
  .forgot-password-email-header {
    padding-top: 150px;
    text-align: center;
  }
  .forgot-password-email-logo {
    justify-self: center;
    width: 100px;
  }
  .forgot-password-email-title {
    color: #d4af37;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .forgot-password-email-body {
    margin-top: 1rem;
  }
  .forgot-password-email-button {
    display: block;
    background-color: #d4af37;
    color: #fff;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin: 1rem auto;
    width: fit-content;
  }
  .forgot-password-email-button:hover {
    background-color: #b9932d;
  }
  .forgot-password-email-note {
    font-size: 0.9rem;
    color: #666;
    margin-top: 1rem;
  }  