.forgot-password-wrapper {
  padding-top: 50px; /* Add padding to the top */
}

.forgot-password-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.forgot-password-container img {
  width: 200px; /* Set the width to make it smaller */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Center the image */
  margin: 0 auto 1rem; /* Add spacing below the image */
  border-radius: 10px; /* Optional: Add rounded corners */
}

  .forgot-password-container h2 {
    text-align: center;
    font-size: 2rem;
  }
  
  .forgot-password-container p {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    
  }
  
  .form-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .submit-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #e6b800;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #e6b80086;
  }
  
  .confirmation-message {
    text-align: center;
    color: #e6b800;
    margin-top: 1rem;
  }
  