.inventory-list-container {
  padding-left: 100px;
  height: 100vh;
  width: 1480px; 
  }
  
  .inventory-list-content {
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 0; /* Remove extra space */
    overflow-x: hidden; /* Handle horizontal scrollbar */
    overflow-y: auto; /* Handle vertical scrollbar */
    /* width: 100%; Ensure it takes full width */
    box-sizing: border-box; 
  }
  
  .inventory-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .inventory-header h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #343a40;
  }

  .inventory-table-container {
    overflow-x: auto;
  }
  
  .inventory-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 0.5rem;
  }
  
  .inventory-table th,
  .inventory-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .inventory-table th {
    background-color: #f4f4f4;
  }
  
  .inventory-table img {
    border-radius: 5px;
  }
  
  .inventory-view-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .inventory-view-button:hover {
    background-color: #0056b3;
  }  