.popup-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px; 
  }
  
  .mapboxgl-popup-content {
    border-radius: 10px;
  }
  
  .mapboxgl-popup-close-button {
    top: 10px;
    right: 10px;
  }