/* Container for the whole screen */
.containerprofile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  padding: 20px;
  min-height: 100vh;
  padding-top: 100px;
}

/* Profile picture container */
.profilePicContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Profile picture styles (smaller size) */
.profilePic {
  width: 150px; /* Reduced width */
  height: 150px; /* Reduced height */
  border-radius: 50%; /* Keeps circular shape */
}

/* Input field container */

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  max-width: 400px; /* Optional: Limit max width for better aesthetics */
}

/* Label for inputs with lighter color */
.label {
  font-size: 16px;
  color: #AAAAAA; /* Light gray color to match the container's light tone */
  margin-bottom: 5px;
  text-align: left;
  width: auto; /* Ensure label spans the full width */
}

.fileInputLabel {
  display: inline-block;
  background-color: #d1d1d1; /* Same color as the button */
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  
}

/* Add hover effect to the label */
.fileInputLabel:hover {
  background-color: #f7b900; /* Slightly lighter orange */
}

/* Hide the default file input */
.fileInput {
  display: none;
}

.input {
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #FFF;
  width: 100%; /* Make inputs responsive */
}

/* Button styles */
.button {
  background-color: #f7b900;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  width: 100%; /* Full width button */
  max-width: 300px;
}
