html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vm;
  background-color: #f4f7fc;
}

.product-list-container {
  background-color: #ffffff;
  padding-left: 40px;
    /* padding: 20px 40px; */
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0; /* Remove extra space */
  overflow-x: hidden; /* Handle horizontal scrollbar */
  overflow-y: auto; /* Handle vertical scrollbar */
  width: 100%; /* Ensure it takes full width */
  box-sizing: border-box; 
}

.product-list-containertwo {
  background-color: #ffffff;
  padding-left: 90px;
    /* padding: 20px 40px; */
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0; /* Remove extra space */
  overflow-x: hidden; /* Handle horizontal scrollbar */
  overflow-y: auto; /* Handle vertical scrollbar */
  width: 100%; /* Ensure it takes full width */
  box-sizing: border-box; 
}

.product-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.product-list-header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #343a40;
}

.btn-add-product {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-add-product:hover {
  background-color: #0056b3;
}

.product-table-container {
  overflow-x: auto;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 0.5rem;
}

.product-table th,
.product-table td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #e9ecef;
}

.product-table th {
  background-color: #f1f1f1;
  color: #495057;
}

.product-table tbody tr:hover {
  background-color: #f8f9fa;
}

.product-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 0.25rem;
}

.btn {
  border: none;
  padding: 0.4rem 0.6rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-update {
  background-color: #28a745;
  color: white;
}

.btn-update:hover {
  background-color: #218838;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}

.btn-delete:hover {
  background-color: #c82333;
}